.custom-calendar {
  width: 100%;
  font-size: 1.5rem;
  border-radius: 5px;
}

.custom-calendar .react-calendar__tile {
  height: 60px;
}

.has-alarm {
  color: red;
}

.no-alarm {
  color: #171717;
}

.all-cell {
  border-radius: 5px;
}

.badge-container {
    position: relative;
  }
  
  .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 0.75rem;
    line-height: 1;
  }
  