@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-grad {
  background-image: linear-gradient(
    to right,
    #141e30 0%,
    #243b55 51%,
    #141e30 100%
  );
  margin: 10px;
  padding: 13px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

tr.stickyRow {
  position: sticky;
  top: 0;
  z-index: 11;
  background: #ffffff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

.stickyFieldRight {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  box-shadow: -1px 0 6px rgba(0, 0, 0, 0.25);
}

.MuiPopper-root {
  z-index: 9999 !important;
}

input.dateTime-picker[type="datetime-local"] {
  position: relative;
}

input.dateTime-picker[type="datetime-local"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

/* .MuiBackdrop-root {
  z-index: 1300 !important;
} */

/* add the code bellow */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
